<ion-header>
  <ion-toolbar>
    <ion-title>
      Página 2
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
 </ion-header>
  
 <ion-content>
   <div class="ion-padding">
    <ion-button (click)="goToPagina1()" routerDirection="forward">Ir a la página 1</ion-button>
   </div>
   <div class="ion-padding">
    <ion-button (click)="goToPagina3()" routerDirection="forward">Ir a la página 3</ion-button>
  </div>
  <div class="ion-padding">
    <ion-button (click)="goToPagina4()" routerDirection="forward">Ir a la página 4</ion-button>
  </div>
  <div class="ion-padding">
    <ion-button (click)="goToPagina5()" routerDirection="forward">Ir a la página 5</ion-button>
  </div>
 </ion-content>
